div.card img,
div.card video {
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 0.2rem;
}

div.card figcaption {
  padding-top: 1rem;
  padding-bottom: 0.8rem;
}

div.card p {
  color: var(--color-light-gray);
  margin: 0;
}
