nav#navbar {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav#navbar > ul > li {
  margin: 0.25em 0 0.25em 0;
}

nav#navbar > ul > li::before {
  content: "/";
  font-size: 0.9em;
  margin-left: -1rem;
  margin-top: unset;
}

nav#navbar.windows > ul > li::before {
  content: "\\";
}
