nav#table-of-contents {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav#table-of-contents > ul > li {
  margin: 0.25em 0 0.25em 1rem;
}

nav#table-of-contents > ul > li::before {
  content: "#";
  font-size: 0.9em;
  margin-left: -1rem;
  margin-top: unset;
}
