:root {
  --font-sans: var(--font-ia-writer-quattro), var(--font-geist), sans-serif;
  --font-mono: var(--font-ia-writer-mono), var(--font-geist-mono), ui-monospace, "Courier Prime", "Courier New", monospace;

    color: white;
    background-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: hsl(41deg, 98%, 59%);
  text-decoration: none;
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  font-family: var(--font-sans);
}

@media (max-width: 700px) {
  body {
    margin: 40px 40px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 1em;
  line-height: 1.2;
}

h1 {
  font-family: var(--font-sans);
}

p, ul, ol {
  margin: 1em 0;
}

li {
  margin: 0.25em 0;
}
