/* prettier-ignore */
:root {
  --font-sans: var(--font-ia-writer-quattro), sans-serif;
  --font-mono: var(--font-ia-writer-mono), "Courier Prime", "Courier New", ui-monospace, monospace;

  --color-white:         hsla(210deg, 100%, 100%, 1.0);
  --color-black:         hsla(210deg, 100%, 004%, 1.0);
  --color-gray:          hsla(210deg, 010%, 050%, 1.0);
  --color-accent:        hsla(210deg, 100%, 050%, 1.0);
  --color-accent-20:     hsla(210deg, 100%, 050%, 0.2);
  --color-diff-add:      hsla(120deg, 100%, 025%, 0.2);
  --color-diff-remove:   hsla(360deg, 100%, 050%, 0.2);

  --color-background:             var(--color-white);
  --color-foreground:             var(--color-black);
  --color-text-subtle:            var(--color-gray);
  --color-text-subtle-decorative: var(--color-gray);
  --color-accent-60:              var(--color-dark-gray);
}

::selection {
  background: var(--color-accent-20);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 180%;
  font-size: 1rem;
  font-family: var(--font-sans);
  color: var(--color-foreground);
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 1em;
  line-height: 1.2;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  background-color: var(--color-accent);
  color: var(--color-background);
}

p,
ul,
ol {
  margin: 1em 0;
}

li {
  margin: 0.5em 0;
}

li::before,
li::marker {
  color: var(--color-text-subtle-decorative);
}

ul > li {
  list-style-type: none;
}

ul > li::before {
  position: absolute;
  margin-left: -22px;
  margin-top: -1px;
  content: "-";
}

ul ul {
  margin: unset;
}

ul ul > li {
  margin-left: 1em;
}

code {
  font-family: var(--font-mono);
  counter-reset: line;
}

:not(pre) > code {
  box-shadow: 0 0 0 1px var(--color-text-subtle-decorative);
  padding: 0.1em 0.4em;
  border-radius: 6px;
}

pre {
  padding: 1rem 0;
  font-size: 0.8em;
  overflow-x: auto;
  white-space: pre-wrap;
}

pre [data-line] {
  padding: 0 1rem;
}

pre > code[data-line-numbers] > [data-line]::before {
  content: counter(line);
  counter-increment: line;
  display: inline-block;
  width: 2em;
  margin-right: 2em;
  text-align: right;
  color: var(--color-gray);
  user-select: none;
  font-variant-numeric: tabular-nums;
}

pre > code[data-line-numbers] > [data-line]:hover::before {
  color: var(--color-text-subtle);
}

pre
  > code[data-line-numbers][data-line-numbers-max-digits="2"]
  > [data-line]::before {
  width: 2em;
}

pre
  > code[data-line-numbers][data-line-numbers-max-digits="3"]
  > [data-line]::before {
  width: 3em;
}

span[data-highlighted-line] {
  background-color: var(--color-accent-20);
}

span[data-highlighted-line-id="add"] {
  background-color: var(--color-diff-add);
}

span[data-highlighted-line-id="remove"] {
  background-color: var(--color-diff-remove);
}
