main.page {
  position: relative;
}

div.me {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.text {
  position: relative;
  flex: 1;
}

span.hi {
  color: var(--color-gray);
}

h1.name {
  margin: 0;
}

div.nameRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

div.pfp {
  position: absolute;
  margin-left: -112px;
  width: 70px;
  height: 70px;
  border-radius: 25%;
  overflow: hidden;
  user-select: none;
}

div.bio > p.mobile {
  display: none;
}

@media (max-width: 900px) {
  div.me {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 16px;
  }

  div.pfp {
    position: unset;
    margin-left: unset;
  }

  div.me,
  div.text {
    position: static;
  }

  div.pickerSlot {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 450px) {
  div.bio > p:first-child {
    display: none;
  }

  div.bio > p.mobile {
    display: block;
  }
}
