div.me {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

span.hi {
  color: var(--color-gray);
}

h1.name {
  margin: 0;
}

img.pfp {
  position: absolute;
  margin-left: -112px;
  filter: none;
  user-select: none;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  img.pfp {
    filter: invert(1);
  }
}
