span.container {
  display: inline-block;
}

span.container img#avatar {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 4px;
  vertical-align: text-bottom;
  pointer-events: none;
  user-select: none;
}
