span.container {
  display: inline-block;
  padding: 0 4px;
  border-radius: 6px;
}

span.container:hover {
  background-color: hsla(0deg, 0%, 60%, 0.2);
}

span.container img#avatar {
  margin-right: 10px;
  border-radius: 4px;
  vertical-align: text-bottom;
  pointer-events: none;
  user-select: none;
}
