div#media-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

div#media-container figure img,
div#media-container figure video {
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 6px;
}

div#media-container figure > a:hover > figcaption {
  background-color: var(--color-accent);
  color: var(--color-background);
}

div#media-container figure figcaption {
  margin-top: 1.5rem;
  color: var(--color-foreground);
}

div#media-container figure div#description {
  color: var(--color-text-subtle);
  margin: 0.8rem 0;
}

div#media-container figure p#cta {
  margin: 0;
  margin-top: 0.8rem;
}
