nav#breadcrumbs {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 40px;
}

nav#breadcrumbs ol {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav#breadcrumbs ol li {
  margin-right: 8px;
}

nav#breadcrumbs ol li:last-child {
  margin-right: 0;
}

nav#breadcrumbs ol li::after {
  content: "/";
  margin-left: 8px;
  color: var(--color-dark-gray);
}

nav#breadcrumbs.windows ol li::after {
  content: "\\";
}
